/* CUSTOM CSS */
body{
	background-color:floralwhite;
}



 .tiles article.style1 > .image:before{
 	background-color: forestgreen;
 }

.tiles article.style4 > .image:before{
background-color: mediumturquoise;
 }
